<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370810100950-9cucsb1ja94mkpjt9ra4spi9v5f9riov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370810100950-9cucsb1ja94mkpjt9ra4spi9v5f9riov</string>
	<key>API_KEY</key>
	<string>AIzaSyBy3p8Xjjrad7CsXNqZYYs-aIZMpNpZWtg</string>
	<key>GCM_SENDER_ID</key>
	<string>370810100950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-69732</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-69732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370810100950:ios:cf3472065eb50aa878fd77</string>
</dict>
</plist>